body{
    background-color: azure;
}
#CaixaDeBatePapo{
    Position: Absolute;
    top: 10%;
    left: 10%;
    width: 100%;
}
#CaixaDeResposta{
    Position: Absolute;
    resize: none;
    top: 10px;
    left: 10px;
    width: 75%;
    height: 300px;
}
#CaixaDeTexto{
    Position: Absolute;
    resize: vertical;
    top: 350px;
    left: 10px;
    width: 75%;
    height: 75px;
}
#BtnEnviar{
    Position: Absolute;
    margin-right: 6px;
    background-color: darkorange;
    top: 318px;
    left: 10px;
    width: 75%;
    height: 30px;   
}